
/* body */

body {
  background-color: #C4C4C4;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* ヘッダー */

header {
  background-color: #fff;
  width: 100%;
  height: 30px;
}

/* メイン */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card__title {
  color: #282828;
  font-size: 14px;
  padding: 10px 0;
}

.card__description {
  color: #282828;
  font-size: 12px;
  word-break: normal;
  margin-bottom: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__img-top {
  width: 288px;
  height: 182px;
}

img {
  margin-bottom: 3px;
}

.card {
  background-color: #fff;
  padding: 8px 8px 70px 8px;
  margin: 50px;
  border-radius: 4px;
  width: 300px;
  height: 250px;
}

/* フッター */

footer {
  background-color: #fff;
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: auto; /* 最下部に固定 */
}

/* レスポンシブ対応 */

/* タブレット（iPad） */

@media screen and (max-width: 768px) {
  .card {
    margin: 30px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__description {
    font-size: 10px;
    -webkit-line-clamp: 2;
  }
}

/* スマホ（iPhone SE） */

@media screen and (max-width: 320px) {
  .card {
    margin: 70px 0;
  }

  .card__title {
    font-size: 12px;
  }

  .card__description {
    display: none;
  }
}